$theme-colors: (
  "primary": #3379b7,
  "success": #dff0d7,
  "warning": #fcf8e2
) !default;

$font-size-base: .95rem !default;
$dt-width: 160px !default;
$h2-font-size: 1.5rem !default;
$navbar-light-active-background-color: #a7b5e0 !default;

@import "bootstrap";
