$blue:    #3379b7 !default;
$green:   #dff0d7 !default;
$teal:    #d9edf7 !default;
$yellow:  #fcf8e2 !default;
$red:     #f2dede !default;

$font-size-base: .75rem !default;
$dt-width: 160px !default;
$h2-font-size: 1.5rem !default;

@import "bootstrap";
